data/*
!data/test_data/*
!data/core_data*
data/*.xlsx
*.xml
.ipynb_checkpoints/
*.tar.gz
*.swp
*.pyc
*.Rhistory
*.sh.s??
*.swj
*.swk
*.swl
*.swm
*.swn
*.swo
*.swd
*.swc
.~lock*
*.sif
scripts/guppy/data/template*
scripts/singularity/depot.*img
.nextflow.log*
slurm*
.Rproj.user
